<h1>Artists</h1>

    
        <ul>
            <% @artists.each do |artist| %>
                <li> <%= link_to(artist.name, artist) %></li><br>
            

            Song Count:<%= artist.song_count %> song
            <br></br>

            <% end %>
         
        </ul>